/*
COLORS:

Light green: #ef5350
Medium green: #d10036
Dark green: #b71c1c

*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family:"Lato",sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding:30px;
    color:#777;
}

.header{
    height: 95vh;
    background-image: linear-gradient(
        to right, rgba(183, 28, 28, 0.342),rgba(239, 83, 80, 0.301)
       ),
    url(../img/hero2.jpg);
    background-position: top ;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%)
}