*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  font-family: "Lato",sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  padding: 3rem;
  color: #777; }

.heading-primary {
  text-transform: uppercase;
  color: #fff;
  backface-visibility: hidden;
  border: 0.5rem solid #fff;
  padding: 3rem 3rem;
  margin-bottom: 6rem; }
  .heading-primary--main {
    display: block;
    font-size: 7rem;
    font-weight: 900;
    letter-spacing: 3rem;
    animation: moveInLeft 1s ease-in-out; }
  .heading-primary--sub {
    display: block;
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1.4rem;
    animation: moveInRight 1s ease-in-out; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50%); }
  80% {
    transform: translateX(5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(50%); }
  80% {
    transform: translateX(-5%); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveInbottom {
  0% {
    opacity: 0;
    transform: translateY(6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }

.btn:link,
.btn:visited {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem;
  border-radius: 10rem;
  letter-spacing: 0.5rem;
  position: relative; }
  .btn:link:hover,
  .btn:visited:hover {
    transform: translateY(-0.3rem);
    box-shadow: 0 1rem 2rem rgba(119, 119, 119, 0.6);
    color: #d10036; }
    .btn:link:hover::after,
    .btn:visited:hover::after {
      transform: scaleX(1.2) scaleY(1.2);
      opacity: 0; }
  .btn:link:active,
  .btn:visited:active {
    transform: translateY(-1px);
    box-shadow: 0 0.5rem 1rem rgba(119, 119, 119, 0.3); }
  .btn:link::after,
  .btn:visited::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s; }

.btn--animated {
  animation: moveInbottom .7s ease-out 1.1s backwards; }

.btn--white {
  background-color: #fff;
  color: #777; }
  .btn--white::after {
    background-color: #fff; }

.header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(to right, rgba(183, 28, 28, 0.4), rgba(239, 83, 80, 0.4)), url(../img/hero2.jpg);
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%); }
  .header__logo-box {
    position: absolute;
    top: 4rem;
    left: 4rem;
    border: 0.2rem #fff solid; }
  .header__logo {
    height: 6rem; }
  .header__text-box {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center; }
