.header{
    position: relative;
    height: 95vh;
    background-image: linear-gradient(
        to right, rgba($color-primary-darker, 0.4),rgba($color-primary-ligter, 0.4)
       ),
    url(../img/hero2.jpg);
    background-position: top ;
    clip-path: polygon(0 0,100% 0,100% 80%,0 100%);

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
        border: 0.2rem $color-white solid;
    }
    &__logo{
        height: 6rem;
    }
    
    &__text-box{
        position: absolute;
        top: 45%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    
}